
.page-header {
    background: $light-grey;
    margin-bottom: $md-size;
    padding: $lg-size 0;
}

.page-header__actions {
    margin-top: $md-size;
}

.page-header__title {
    margin: 0;
    font-weight: 300;
    span {
        font-weight: bold;
    }
}